body{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	font-family: 'Candara',cursive;
}
table{
	border-collapse: collapse;

}

thead{
	font-weight: 100;


}