body{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	font-family: 'Candara',cursive;
}
table {
  border-collapse: collapse;
}
td:hover {background-color: yellow;}


.chart_art{
	padding: 10px;
	border-radius: 8px;

}